@model HotelBookingSystem.Models.Checkout


<h1>Details</h1>

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Email)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Address)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Address2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Address2)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.City)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.State)
        </dd>


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.Zip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.Zip)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.CheckinDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.CheckinDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Guest.CheckoutDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Guest.CheckoutDate)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Index" class="badge badge-success"><h5> <i class="fas fa-undo-alt"></i> &nbsp; Back to List</h5></a>
</div>
