@model HotelBookingSystem.Models.Room


<h1>Room Detail</h1>

<div>   
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Room Number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Room Price
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            Room Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class="col-sm-2">
            Room Id
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
</div>
<div>
    <h3>
        <a asp-action="Edit" asp-route-id="@Model.Id"><i class="fas fa-edit"></i></a>
        <a asp-action="Index" class="badge badge-success"> <i class="fas fa-undo-alt"></i> &nbsp; Back to List</a>
    </h3>
</div>
