@model IEnumerable<HotelBookingSystem.Models.Room>

<h1>Room List</h1>

<p>
    <a asp-action="Create">Add New Room</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Room Number
            </th>
            <th>
                Room Price
            </th>
            <th>
                Room Type
            </th>
            <th>Edit</th>
            <th>Detail</th>
            <th class="badge badge-pill badge-danger">Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
              $  @item.Price
            </td>
            <td>
                @item.Category.Name
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><h3><i class="fas fa-edit"></i></h3></a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><h3><i class="fas fa-info-circle"></i></h3></a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id"><h3><i class="fas fa-trash-alt"></i></h3></a>
            </td>
        </tr>
}
    </tbody>
</table>
